body {
  margin: 0;
}

#floor {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  background-color: blue;
}

#player {
  background-color: blanchedalmond;
  height: 30vh;
  width: 10vh;
  float: left;
  position: fixed;
  left: 25vw;
  bottom: 20vh;
}

#computer {
  background-color: blanchedalmond;
  height: 30vh;
  width: 10vh;
  float: right;
  position: fixed;
  right: 25vw;
  bottom: 20vh;
}

#background {
  background-color: green;
  width: 100vw;
  height: 70vh;
}

#playerHealthBar {
  font-size: 6vh;
  color: red;
  float: left;
  background-color: black;
  margin-top: 5vh;
  margin-left: 5vw;
}

#computerHealthBar {
  float: right;
  color: red;
  background-color: black;
  font-size: 6vh;
  margin-top: 5vh;
  margin-right: 5vw;
}

#winnerMessage {
  float: left;

  color: red;
  background-color: black;
  font-size: 6vh;
  margin-top: 20vh;
  width: 50vw;
  margin-left: 25vw;
  margin-right: 25vw;
  text-align: center;
}
